@import '../node_modules/github-markdown-css/github-markdown-light.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', 나눔고딕,
    'Nanum Gothic', 'Noto Sans KR', 'Noto Sans CJK KR', arial, 돋움, Dotum,
    Tahoma, Geneva, sans-serif;

  background-color: #fdfdfd;
}

#article ul {
  list-style: initial;
  padding: 0 0 0 30px;
  margin: 10px 0;
}
#article ul li {
  display: list-item;
}

#article ol {
  list-style-type: decimal;
  padding: 0 0 0 30px;
  margin: 10px 0;
}

#article ol li {
  display: list-item;
}
